// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

.painless-panes__enabled {
  atom-pane-resize-handle {
    display: none;
  }

  atom-pane-axis.horizontal {
    & > atom-pane, & > atom-pane-axis {
      flex: 1 1 90ch !important;

      &.painless-panes__active {
        flex-shrink: 0.001 !important;
      }
    }
  }

  atom-pane-axis.vertical {
    & > atom-pane-axis {
      flex: 1 1 auto !important;

      &.painless-panes__active {
        flex: 10 0.01 10em !important;
      }
    }

    & > atom-pane {
      flex: 1 1 10em !important;

      &.painless-panes__active {
        flex: 10 0.01 10em !important;
      }
    }
  }
}
